<div class="p-12 space-y-6">
  <!-- Section des boutons -->
  <div class="flex items-center gap-6 text-2xl mb-2 font-bold tracking-normal text-white">
    <div class="flex flex-col grow items-start bg-orange-400 rounded-3xl w-fit">
      <div class="px-5 pb-0 bg-black rounded-3xl">
        Nos Activitées
      </div>
    </div>
    <!--        *ngIf="userRoles.includes('PERSONNEL')"-->
    <div class="mt-3 flex-grow flex justify-end">
      <button
        *ngIf="userRoles.includes('PERSONNEL')"
       (click)="naviguerVersFormulaire()"
        class="px-4 py-2 bg-orange-500 text-white rounded-lg hover:bg-orange-600 transition duration-150 ease-in-out"
      >
        Ajouter
      </button>
    </div>
  </div>

  <!-- Barre de recherche -->
  <input id="search" type="text" [(ngModel)]="searchTerm" placeholder="Rechercher..."
         class="w-full p-3 border border-orange-500 rounded-lg focus:ring-2 focus:ring-orange-500 mb-4" />

  <!-- Table d'activités -->
  <div  class="bg-white shadow-lg rounded-lg p-6">
    <table class="w-full text-left">
      <thead>
      <tr class="bg-gray-100 text-gray-600 uppercase text-sm">
        <th class="p-3">Nom</th>
        <th class="p-3">Titre</th>
        <th class="p-3">Lieu</th>
        <th class="p-3">Objectif Participant</th>
        <th class="p-3">Entité</th>
        <th class="p-3">Type Activité</th>
        <th class="p-3">Salle</th>
        <th class="p-3">Statut</th>
        <th class="p-3">Actions</th>
        <th class="p-3"></th>
      </tr>
      </thead>
      <tbody class="divide-y divide-gray-200">
      <tr *ngFor="let element of activiteList" class="hover:bg-gray-100">
        <td class="p-3">{{ element.nom }}</td>
        <td class="p-3">{{ element.titre }}</td>
        <td class="p-3">{{ element.lieu }}</td>
        <td class="p-3">{{ element.objectifParticipation }}</td>
        <td class="p-3">{{ element.entite?.nom }}</td>
        <td class="p-3">{{ element.typeActivite?.type }}</td>
        <td class="p-3">{{ element.salleId?.nom }}</td>

        <td class="p-3">
            <span class="px-3 py-1 rounded-full text-white text-xs font-semibold"
                  [ngClass]="{
                    'bg-blue-500': element.statut === 'En_Attente',
                    'bg-green-500': element.statut === 'En_Cours',
                    'bg-red-500': element.statut === 'Termine'
                  }">
              {{ element.statut }}
            </span>
        </td>
<!--        *ngIf="userRoles.includes('PERSONNEL')"-->
        <td  class="p-3 flex gap-2" *ngIf="userRoles.includes('PERSONNEL')">
          <button  class="text-bg-dark hover:text-orange-500">
            <i class="fas fa-eye"></i>
          </button>
          <button (click)="updateActivite(element.id)" class="text-bg-dark hover:text-orange-500">
            <i class="fas fa-edit"></i>
          </button>
          <button (click)="supprimerActivite(element)" class="text-red-500 hover:text-red-700">
            <i class="fas fa-trash-alt"></i>
          </button>
        </td>

        <!-- Message si aucune étape n'est disponible pour l'activité -->
        <td *ngIf="!element.etapes || element.etapes.length === 0" colspan="7" class="px-6 py-4 text-center text-sm text-red-500 dark:text-red-400 blink text-red-500">
          Cette activité n'a pas d'étapes.
        </td>
      </tr>
      <tr *ngIf="!activiteList || activiteList.length === 0">
        <td colspan="7" class="p-3 text-center text-gray-500">Aucune activité disponible pour le moment.</td>
      </tr>
      </tbody>
    </table>

    <!-- Pagination -->
    <div class="flex justify-center mt-6 space-x-2">
      <button (click)="prevPage()" [disabled]="currentPage === 1"
              class="bg-orange-500 hover:bg-orange-600 text-white font-semibold py-2 px-4 rounded-lg transition disabled:opacity-50">
        <i class="fas fa-chevron-left"></i>
      </button>
      <span class="px-3 py-2 text-gray-600">Page {{ currentPage }} sur {{ totalPages }}</span>
      <button (click)="nextPage()" [disabled]="currentPage === totalPages"
              class="bg-orange-500 hover:bg-orange-600 text-white font-semibold py-2 px-4 rounded-lg transition disabled:opacity-50">
        <i class="fas fa-chevron-right"></i>
      </button>
    </div>

  </div>
</div>
