<div class="flex items-center justify-center h-full py-20">
  <div class="container mx-auto">
    <div class="row">
      <div class="col-sm-8 offset-sm-2 text-center">
        <div class="relative">
          <h1 class="relative text-[400px] leading-[400px] tracking-tighter-less text-shadow font-bold text-orange-500">
            <span>4</span><span>0</span><span>4</span></h1>
        </div>
        <h5 class="font-semibold -mr-6 mt-2">Page non trouvée.</h5>
        <p class="mt-5 mb-10 text-sm text-bg-dark">Nous sommes désolés, mais la page que vous avez demandée n'a pas été trouvée.</p>
        <a routerLink="/main" class="text-bg-dark hover:text-orange-500">Aller au tableau de bord</a>
      </div>
    </div>
  </div>
</div>
