<div class="flex flex-wrap min-h-screen bg-gray-50">
  <!-- Section Confirmation de réinitialisation de mot de passe -->
  <div class="flex w-full flex-col md:w-1/2 relative">
    <div class="flex justify-center pt-12 md:-mb-24 md:justify-start md:pl-12">
      <a routerLink="/" class="border-b-4 border-orange-500 pb-1 text-2xl font-bold text-orange-600">
        Orange Digital Center Mali
      </a>
    </div>
    <div class="lg:w-[29rem] mx-auto my-auto flex flex-col justify-center pt-8 md:justify-start md:px-6 md:pt-0">
      <h1 class="text-left text-3xl font-bold text-gray-800">C'est terminé !</h1>
      <p class="mt-2 text-left text-gray-500 text-sm mb-4">
        Votre mot de passe a été réinitialisé.
      </p>
      <a
        routerLink="/sign-in"
        class="w-full text-center py-3 mt-4 text-orange-600 border border-orange-500 rounded-lg hover:bg-orange-50 focus:outline-none focus:ring-4 focus:ring-orange-300 font-semibold text-lg transition-all duration-200 ease-in-out"
      >
        Se connecter
      </a>
    </div>
  </div>

  <!-- Section Image à droite -->
  <div class="pointer-events-none relative hidden h-screen select-none bg-black md:block md:w-1/2">
    <div class="absolute bottom-0 z-10 px-16 py-12 text-white">
      <p class="mb-8 text-3xl font-bold leading-10">
        Coder le futur : Transformer les idées en réalité. Précision dans chaque ligne,
        innovation dans chaque fonction. Votre vision, notre code - Bâtissons demain, aujourd'hui !
      </p>
      <p class="text-lg">Auteur: Reyptz, MadelDev</p>
      <p class="mb-7 text-sm opacity-70">Orange Digital Center Mali</p>
    </div>
    <img
      class="-z-1 absolute top-0 h-full w-full object-cover opacity-90"
      src="/assets/auth/logoOdc.png"
      alt="Orange Digital Center Mali"
    />
  </div>
</div>
