<!-- Header -->
<div class="h-20 w-full px-6 bg-white shadow-md fixed top-0 z-50">
  <div class="h-full flex items-center border-b border-gray-200 gap-4">
    <!-- Bouton pour basculer la sidebar et logo -->
    <div class="flex items-center gap-3">
      <!-- Logo -->
      <a routerLink="/">
        <img src="/assets/auth/logoOdc.png" alt="Orange Digital Center Mali" class="h-10">
      </a>
    </div>



<!--     Barre de recherche (si nécessaire)-->
    <div class="flex items-center ml-12 gap-4 hidden md:block text-black">
      <app-search-bar />
    </div>

    <!-- Menu utilisateur -->
    <div class="ml-auto flex items-center gap-3">
      <!-- Menu déroulant utilisateur -->
      <div class="relative">
        <button routerLink="/profile" class="p-2 focus:outline-none">
          <img src="/assets/images/user.png" alt="Avatar" class="w-10 h-10 rounded-full">
        </button>
      </div>
    </div>
  </div>
</div>
